In [1]:
import sys 
from COBRAmodel import MyModel

In [33]:
model = MyModel(r"C:\Users\gonca\OneDrive\Documentos\GitHub\UC_projeto\model.xml", "e_Biomass__in")

Loading

3077 does not conform to 'http(s)://identifiers.org/collection/id' or'http(s)://identifiers.org/COLLECTION:id
Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

Reactions: 2997
Metabolites: 2484
Genes: 1660
Model loaded

In [34]:
model.create_tRNAs_reactions()

In [35]:
model.create_sink("C00002__in")     #ATP

In [36]:
model.test_reaction("e_RNA__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

             Flux
UTP    500.000000
ATP  10000.000000
GTP   2000.000000
CTP    333.333333

In [37]:
model.test_reaction("e_DNA__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

             Flux
dCTP   333.333333
dATP  2000.000000
dTTP   500.000000
dGTP  2000.000000

In [38]:
model.test_reaction("e_Protein__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

                                 Flux
L-Histidyl-tRNA(His)       333.333333
Glycyl-tRNA(Gly)          1000.000000
L-Arginyl-tRNA(Arg)        250.000000
L-Prolyl-tRNA(Pro)        1000.000000
L-Isoleucyl-tRNA(Ile)     1000.000000
L-Tryptophanyl-tRNA(Trp)   500.000000
L-Threonyl-tRNA(Thr)      1000.000000
L-Seryl-tRNA(Ser)         1000.000000
L-Alanyl-tRNA             1000.000000
L-Glutamyl-tRNA(Glu)      1000.000000
L-Methionyl-tRNA          1000.000000
L-Cysteinyl-tRNA(Cys)     1000.000000
L-Leucyl-tRNA             1000.000000
L-Aspartyl-tRNA(Asp)      1000.000000
L-Asparaginyl-tRNA(Asn)    500.000000
Glutaminyl-tRNA            500.000000
L-Lysyl-tRNA               500.000000
L-Tyrosyl-tRNA(Tyr)       1000.000000
L-Phenylalanyl-tRNA(Phe)  1000.000000
L-Valyl-tRNA(Val)         1000.000000

In [39]:
model.test_reaction("e_Cofactor__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

                                Flux
Ubiquinone                 97.222222
Thiamine                  250.000000
NAD+                      500.000000
S-Adenosyl-L-methionine  1000.000000
FAD                       500.000000
Glutathione               333.333333
Tetrahydrofolate          500.000000
CoA                       500.000000
Heme                      125.000000
Riboflavin                500.000000
Pyridoxal phosphate      1000.000000
NADPH                     500.000000
FMN                       500.000000

In [40]:
model.create_sink("C22288__in")

In [41]:
model.test_reaction("R04509__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

                                                         Flux
ATP                                              10000.000000
4-Amino-2-methyl-5-(phosphooxymethyl)pyrimidine    333.333333

In [9]:
model.test_reaction("e_Lipid__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

                                                  Flux
Sulfoquinovosyldiacylglycerol               500.000000
Phosphatidylethanolamine                    500.000000
Phosphatidylglycerol                        500.000000
1,2-Diacyl-3-beta-D-galactosyl-sn-glycerol  500.000000
1-Phosphatidyl-D-myo-inositol               500.000000
Digalactosyl-diacylglycerol                 500.000000
Triacylglycerol                             333.333333
Phosphatidylcholine                         333.333333

In [42]:
model.create_sink("C00040__in")   #ACYL-CoA

In [10]:
model.test_reaction("e_Carbohydrate__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

                         Flux
UDP-D-xylose            500.0
GDP-mannose            1000.0
UDP-glucose             500.0
UDP-L-arabinose         500.0
Starch                 1000.0
UDP-alpha-D-galactose   500.0

In [11]:
model.test_reaction("e_Pigment__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

                      Flux
Neoxanthin       97.222222
beta-Carotene   109.375000
Zeaxanthin       97.222222
Violaxanthin     97.222222
Lutein          102.941176
alpha-Carotene  109.375000

In [43]:
model.test_reaction("e_Biomass__in")

Could not identify an external compartment by name and choosing one with the most boundary reactions. That might be complete nonsense or change suddenly. Consider renaming your compartments using `Model.compartments` to fix this.

                       Flux
e-Pigment       1000.000000
e-Protein         78.117432
e-Cofactor      1000.000000
e-Lipid          477.110327
e-DNA            242.078994
e-RNA             74.064034
e-Carbohydrate   133.489698

In [44]:
model.summary()

Runnning pFBA